<section class="intro">
  <div class="container">
    <p class="lead">
      每周的内容会发布在 Github Issues 中。
    </p>


      <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/data-com/weekly/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch data-com/weekly on GitHub">Watch DataWeekly 获取更新通知</a>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/data-com/discussions/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue data-com/discussions on GitHub">提交和讨论新的内容</a>
  </div>
</section>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>